<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	    <title>Running Mate</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap-theme.min.css">
		
		<script src="/socket.io/socket.io.js"></script>
		<script>
		  var socket = io.connect('http://localhost:3000');
		  socket.on('news', function (data) {
		    console.log(data);
		    socket.emit('my other event', { my: 'data' });
		  });
		</script>
        
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
	    <div class="container">
		
		  <div class="header clearfix">
		    <nav>
			  <ul class="nav nav-pills pull-right">
			    {{#if user}}
				  <li role="presentation"><a href="/logout">Logout</a></li>
				{{else}}
				{{/if}}
			  </ul>
			</nav>
		  </div>
        
            <h1>{{title}}</h1>
			
			{{#if success_msg}}
				<div class="alert alert-success">{{success_msg}}</div>
			{{/if}}
			
			{{#if error_msg}}
				<div class="alert alert-danger">{{error_msg}}</div>
			{{/if}}
			
			{{#if error}}
				<div class="alert alert-danger">{{error}}</div>
			{{/if}}
            
		    {{{body}}}

			<hr>

			<footer>
				<p>&copy; Ben W. Freed</p>
			</footer>
	    </div> <!-- /container -->        
    </body>
</html>
